<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->
    <title>Login System - Register</title>
</head>
<body>
    <h1>Create a New Account</h1>
    <form action="/apis/register" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" required>

        <label for="name">Name</label>
        <input type="text" name="name" required>
        
        <label for="email">Email</label>
        <input type="email" name="email" required>
        
        <label for="password">Password</label>
        <input type="password" name="password" required minlength="7">
        
        <button>Sign In</button>
    </form>
    <a href="/">Sign In</a>
</body>
</html>